[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
google-cloud-pubsub = "*"
pyjwt = "*"
paho-mqtt = "*"
python-dotenv = "*"
pylint = "*"
autopep8 = "*"
cryptography = "*"

[requires]
python_version = "3.7"
